.wheelio_holder {
    z-index: 2000000000;
    z-index: 2147483647;
    position: fixed;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    line-height: 1.0em;
    text-align: left;
    top: 0;
    left: 0;
    direction: ltr !important;
    overflow-y: auto;
    display: block;
}
.wheelio_holder .wlo_dimmer {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wheelio_holder .wlo_panel {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    width: 90%;
    min-height: 100vh;
    max-width: 790px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #49a3af;
    -webkit-box-shadow: 5px 2px 60px 0px #000;
    -moz-box-shadow: 5px 2px 60px 0px #000;
    box-shadow: 5px 2px 60px 0px #000;
}
@media screen and (max-height: 700px){
.wheelio_holder .wlo_content {
    width: 45%;
}
}
.wheelio_holder .wlo_content {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: initial;
    width: 40%;
    left: 50%;
    top: 0;
    bottom: 0;
    color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
@media screen and (max-height: 700px){
.wheelio_holder .wlo_content .wlo_logo {
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;

}
}
.wheelio_holder .wlo_content .wlo_logo{
        background-image: url(https://firebasestorage.googleapis.com/v0/b/wheelio-a62f3.appspot.com/o/sho…-kdom%2Fbig%2Fbig.png?alt=media&token=f1ab447d-ef51-4ec7-b2ee-44acf2a2f34c);
}

.wlo_loader_holder {
    opacity: 0;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wlo_loader_holder .wlo_loader_dimmer {
    background-color: #49a3af;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wlo_loader_holder .preloader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -48px;
    filter: alpha(opactiy=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index: 1000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wheelio_holder .wlo_content .wlo_title {
    font-size: 30px;
    line-height: 1.3em;
    font-weight: bold;
    color: inherit;
    margin-bottom: 20px;
}
.wheelio_holder .wlo_content .wlo_title b {
    color: #000;
}
.wlo_small_text.wlo_disclaimer_text+.wlo_progressholder {
    margin-top: 15px;
}

.wlo_progressbar {
    position: relative;
    height: 10px;
    width: 0%;
    margin: 0;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.1);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.25), inset 0 1px rgba(255,255,255,0.1);
    background-color: rgb(255, 163, 191);
    width: 86%;
}
.wheelio_holder .wlo_content .wlo_text.wlo_progressbar_text {
    font-size: 11px;
    text-align: left;
    line-height: 1.5em;
}
.wheelio_holder .wlo_content input.wlo_input {
    font-style: normal !important;
    font-family: "Roboto", sans-serif;
    border-radius: 3px !important;
    height: 40px !important;
    line-height: 40px !important;
    padding: 0px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    text-indent: 10px;
    margin-top: 20px;
    color: #333;
    border: none;
    background-color: #fff;
}
.wlo_btn {
    background-color: #111;
    color: inherit;
    padding: 8px 20px;
    line-height: 1.5em;
    max-width: inherit;
    font-size: 16px !important;
    margin-top: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
        color: rgb(255, 255, 255);
}
.wheelio_holder .wlo_content .wlo_thank_you {
    z-index: 1;
    transform-origin: 50% 50%;
    position: relative;
    background-color: inherit;
        opacity: 0.001;
    transform: scale(0.6, 0.6);
}
.wheelio_holder .wlo_content .wlo_close {
    position: relative;
    width: 100%;
    text-align: right;
    filter: alpha(opactiy=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: .6;
    -khtml-opacity: .6;
    opacity: .6;
     opacity: 1;
    transform: translate(0px, 0px);
}
.wheelio_holder .wlo_content .wlo_close::before, .wheelio_holder .wlo_content .wlo_close::after {
    content: "";
    clear: both;
}
.wheelio_holder .wlo_content .wlo_close span {
    display: inline-block;
    line-height: 35px;
    cursor: pointer;
    filter: alpha(opactiy=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -moz-opacity: .9;
    -khtml-opacity: .9;
    opacity: .9;
    padding-right: 16px;
}
.wheelio_holder .wlo_content .wlo_close_icon2 {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border-color: #000;
    border-width: 0px;
    border-style: solid;
    float: right;
    cursor: pointer;
}
.wheelio_holder .wlo_content .wlo_close_icon2::after, .wheelio_holder .wlo_content .wlo_close_icon2::before {
    content: "";
    position: absolute;
    left: 25%;
    width: 70%;
    border-top-style: solid;
    border-color: inherit;
    border-width: inherit;
    border-width: 1px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
.wheelio_holder .wlo_content .wlo_close_icon2::after, .wheelio_holder .wlo_content .wlo_close_icon2::before {
    content: "";
    position: absolute;
    left: 25%;
    width: 70%;
    border-top-style: solid;
    border-color: inherit;
    border-width: inherit;
    border-width: 1px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.wheelio_holder .wheel_holder {
    position: absolute;
    z-index: 1;
    width: 70%;
    top: 50%;
    -webkit-transform: translate(-46%, -50%);
    -moz-transform: translate(-46%, -50%);
    -ms-transform: translate(-46%, -50%);
    transform: translate(-46%, -50%);
    -webkit-tap-highlight-color: transparent;
}
.wlo_proportions_holder {
    padding-bottom: 50%;
    position: relative;
    width: 100%;
    height: 1px;
    background: transparent;
}
.wheelio_holder .wlo_shadow {
    position: absolute;
    z-index: 2;
    top: 6%;
    left: 6%;
    width: 100%;
    height: 92.5%;
    background-image: url(https://wheelio-a62f3.firebaseapp.com/res/shadow.png);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
        transform: translate(0px, 0px);
}
.wheelio_holder .wheel_mask {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    transform-origin: 50% 50%;
    border-radius: 50%;
        transform: translate(0px, 0px) rotate(0deg);
}
.wheelio_holder .wheel_rotor {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    border-radius: 40%;
    transform: rotate(39deg);
}
.wheelio_holder .wheel_rotor .wheel_bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(https://wheelio-a62f3.firebaseapp.com/res/wheel_small.png);
    background-size: contain;
    background-repeat: no-repeat;
        filter: hue-rotate(0deg) saturate(105%);
}
.wheelio_holder .wheel_rotor .wlo_label {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 2.4em;
    text-align: right;
    -webkit-transform: translate(0, -50%) rotate(0deg);
    -moz-transform: translate(0, -50%) rotate(0deg);
    -ms-transform: translate(0, -50%) rotate(0deg);
    transform: translate(0, -50%) rotate(0deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 40%;
    padding-left: 15%;
    font-weight: bold;
    font-size: inherit;
    cursor: default;
    color: rgba(0,0,0,0.8);
}
.wheelio_holder .wlo_small_logo {
    width: 16%;
    height: 16%;
    top: 42%;
    left: 42%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    filter: alpha(opactiy=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -moz-opacity: .9;
    -khtml-opacity: .9;
    opacity: .9;
    -webkit-transform: rotate(-39deg);
    -moz-transform: rotate(-39deg);
    -ms-transform: rotate(-39deg);
    transform: rotate(-39deg);
}
.wheelio_holder .wlo_pointer_shadow {
    top: 47%;
    left: 92%;
    background-image: url(https://wheelio-a62f3.firebaseapp.com/res/pointer2_shadow.png);
    filter: alpha(opactiy=30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -moz-opacity: .3;
    -khtml-opacity: .3;
    opacity: .3;
}
.wheelio_holder .wlo_pointer, .wheelio_holder .wlo_pointer_shadow {
    position: absolute;
    z-index: 3;
    width: 18%;
    transform-origin: 75% 47.5%;
    background-size: contain;
    background-repeat: no-repeat;
}
.wlo_proportions_holder {
    padding-bottom: 50%;
    position: relative;
    width: 100%;
    height: 1px;
    background: transparent;
}
.wheelio_holder .wlo_pointer {
    top: 45.5%;
    left: 91%;
    background-image: url(https://wheelio-a62f3.firebaseapp.com/res/pointer2.png);
    filter: hue-rotate(0deg) saturate(105%);
    transform: translate(0px, 0px) rotate(0deg);
}
.wheelio_holder .wlo_toast {
    position: absolute;
    padding: 0 50px;
    background-color: #ffa3bf;
    z-index: 1000;
    color: #111;
    font-size: 15px;
    line-height: 38px;
    border-radius: 3px;
    -webkit-box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.3);
}
.wlo_proto, .wlo_hidden {
    display: none !important;
}

.wheelio_holder {
    z-index: 2000000000;
    z-index: 2147483647;
    position: fixed;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    line-height: 1.0em;
    text-align: left;
    top: 0;
    left: 0;
    direction: ltr !important;
    overflow-y: auto;
}
.wlo_pulltab_holder {
    height: 100%;
    height: 100vh;
    width: 1px;
    position: fixed;
    top: 0;
    z-index: 2000000000;
    z-index: 2147483647;
    padding: 10px 10px 10px 0;
    direction: ltr !important;
        transform: translate(0px, 0px);
    left: 790px;
}
.wlo_pulltab {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    left: 0;
    top: 50%;
    top: calc(50% - 40px);
    width: 60px;
    height: 100px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.wlo_pulltab .pull_bg {
    position: absolute;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    left: -70%;
    right: 10px;
    top: 10px;
    bottom: 10px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
    overflow: hidden;
}
.wlo_pulltab .wlo_pull_tab_content {
    text-align: center;
    position: absolute;
    left: 50%;
    right: 5px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.wlo_pulltab .wlo_pull_image {
    position: relative;
    width: 30px;
    height: 30px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    -o-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.wlo_pulltab .wlo_title {
    font-size: 13px;
    height: 1.2em;
    overflow: hidden;
    width: 90%;
    margin: 3px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.wlo_codebar {
    position: relative;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 8px 12px 12px 10%;
    font-size: 14px !important;
    font-family: "Roboto", sans-serif !important;
    background-color: #49a3af;
    color: #fff;
    cursor: default;
}
.wlo_codebar .wlo_bar_text {
    filter: alpha(opactiy=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8;
    color: inherit;
}
.wlo_codebar div, .wlo_codebar .wcb_div {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
    cursor: default !important;
    line-height: 22px !important;
}
.wlo_codebar .wlo_code_cupon {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 3px 30px 3px 20px;
    width: auto;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 12px;
    border: 1px dashed rgba(255,255,255,0.3);
    color: inherit;
    cursor: text !important;
}
.wlo_progressholder{
        background: rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.08);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.08);
    margin: 0;

}
.wlo_btn:hover {
    background-color: #333;
}
